
.pre_first_L2_area{
	padding-left:					1vh;
	padding-top:					2vh;
	margin-bottom:					2vh;
}

.pre_first_L3_area{
	padding-left:					1vh;
	padding-top:					6vh;
}

.pre_first_btn{
	margin-right:					4vh;
}

.pre_first_q_title{
	float:							left;
	margin-right:					2.5vh;
}

.pre_first_L3_interval{
	margin-top:						2vh;
}