body{
	font-size:						2vh;
}

#container{
	padding-right:					0px;
}

/* タイトル・時間表示領域 */
.exam_row{
	padding-left:					2.5vh !important;
	padding-top:					0.4vh;
}

/* 2020/08/26 縦横比が0.75を超える解像度の対応*/
.grade_title_area{
	font-size:						calc(3vh * var(--scale, 1));
	font-weight:					bold;
	height:							6.5vh;
	padding:						0.4vh;
}

/* 2020/08/25 Wに気づかず筆記試験を終了してしまう問題対応*/
.grade_title_area span{
	font-size:						calc(2.5vh * var(--scale, 1));
	font-weight:					normal;
}
/* 2020/08/25 Wに気づかず筆記試験を終了してしまう問題対応*/


#grade_title{
	font-family:					Verdana;
}

.exam_time_row{
	padding:						0.4vh;
}

#exam_time_area{
	font-size:						calc(2.9vh * var(--scale, 1));
	font-weight:					bold;
	color:							#ffffff;
	background:						#575757;
	border-radius:					6px;
	width:							calc(46vh * var(--scale, 1));
	margin-left:					calc(6.5vh * var(--scale, 1));
}

#clock_img_area{
	float:							left;
	margin-left:					calc(2vh * var(--scale, 1));
}

.clock{
	width:							calc(3vh* var(--scale, 1));
/* 2020/10/09 テキストエリアに画像パスが入力されてしまう対応*/
	pointer-events:					none;
/* 2020/10/09 テキストエリアに画像パスが入力されてしまう対応*/
}

#remaining_time{
	font-size:						calc(3.3vh * var(--scale, 1));
	font-family:					Verdana;
	margin-right:					calc(2vh * var(--scale, 1));
}
/* 2020/08/26 縦横比が0.75を超える解像度の対応*/
/*
.grade_title_area{
	font-size:						3vh;
	font-weight:					bold;
	height:							6.5vh;
	padding:						0.4vh;
}

#grade_title{
	font-family:					Verdana;
}

.exam_time_row{
	padding:						0.4vh;
}

#exam_time_area{
	font-size:						2.9vh;
	font-weight:					bold;
	color:							#ffffff;
	background:						#575757;
	border-radius:					6px;
	width:							46vh;
	margin-left:					6.5vh;
}

#clock_img_area{
	float:							left;
	margin-left:					2vh;
}

.clock{
	width:							3vh;	
}

#remaining_time{
	font-size:						3.3vh;
	font-family:					Verdana;
	margin-right:					2vh;
}
*/

/* 2020/07/19 空白が丸められてしまう対応*/
#question_explanation{
	white-space:pre-wrap;
}
/* 2020/07/19 空白が丸められてしまう対応*/

/* コンテンツ表示領域 */
.exam_content_row{
	padding-left:					1.7vh !important;
}

.exam_contents{
	background:						#ffffff;
	height:							92vh;
}

/* 2020/08/25 コンテンツがはみ出してしまう対応*/
.exam_contents_wrap{
	width:							calc(100%  - 1vh);
}
/* 2020/08/25 コンテンツがはみ出してしまう対応*/

/* 大問問題文 */
.question_area_wrap{
	height:							3.5vh;
/* 2020/08/25 コンテンツがはみ出してしまう対応*/	
/*	padding-left:					1.7vh;*/
/* 2020/08/25 コンテンツがはみ出してしまう対応*/	
}

#question_area{
	position:						absolute;
	width:							100%;
	z-index:						90;
}

.question_slide{
	height:							3.5vh;
	width:							95%;
	background-color:				#dddddd;
	border-radius:					0px 0px 6px 6px;
/* 2020/08/25 コンテンツがはみ出してしまう対応*/	
	margin-left:					1.7vh;
/* 2020/08/25 コンテンツがはみ出してしまう対応*/	

}

#question_number_image_area{
	display:						none;
	padding-left:					1.7vh;
	padding-top:					1.7vh;
}

/* 2020/01/15 Edgeのバージョン変更対応 */
/*
#question_number_image{
	float:							left;
	position:						absolute;
	width:							5vh;
}
*/
/* 2020/01/15 Edgeのバージョン変更対応 */

/* 2020/01/15 Edgeのバージョン変更対応 */
#question_number_image {
    float:							left;
    /* position: absolute; */
    width:							5vh;
    margin-right:					2vh;
}
/* 2020/01/15 Edgeのバージョン変更対応 */

/*
#question_explanation{
	float:							left;
	margin-left:					7vh;
}
*/

#arrow_img_area{
	width:							95%;
	text-align:						center;
	position:						absolute;
	bottom:							0;
	left: 0;
	text-align: center;
	cursor:							pointer;
}

.icon-up{
	display:						none;
	width:							3vh;
}

.icon-down{
	width:							3vh;
}


/* ボタン */
button.btn_move{
	width:							11vh;
	text-align:						center;
	height:							3.2vh;
	font-size:						1.3vh;
	border:							solid 1px #808080;
	border-radius:					3px;
	position:						absolute;
	z-index:						20;
}
button.btn_hide{
	display:						none;
}


.prev{
	right:							5vh;
	margin-top:						1.7vh;
}


.next{
	bottom:							2vh;
	right:							5vh;
}

#last{
	bottom:							2vh;
	right:							5vh;
/* 2020/08/25 Wに気づかず筆記試験を終了してしまう問題対応*/
	background:						#ffff00;
	color:							#ff0000;
/* 2020/08/25 Wに気づかず筆記試験を終了してしまう問題対応*/
}


/* 画面ロック */
.screen_lock{
	position:						fixed;
	top:							0;
	left:							0;
	z-index:						1050;
	width:							100vw;
	height:							100vh;
	background-color:				gray;
	opacity:						0.7;
	display:						none;
}

/* 解答欄 */
#answer_frame{
	position:						relative;
}

.answer_area_title{
	display:						none;
	color:							#ffffff;
	margin-left:					1vh;
}

#answer_arrow_img_area{
	height:							100%;
	float:							left;
	width:							3vh;
	cursor:							pointer;
}

.icon-left{
	width:							3vh;
	position:						absolute;
	top:							50%;
	margin-left:					0.3vh;
/* 2020/10/09 テキストエリアに画像パスが入力されてしまう対応*/
	pointer-events:					none;
/* 2020/10/09 テキストエリアに画像パスが入力されてしまう対応*/
}

.icon-right{
	display:						none;
	width:							3vh;
	position:						absolute;
	top:							50%;
	margin-left:					0.3vh;
/* 2020/10/09 テキストエリアに画像パスが入力されてしまう対応*/
	pointer-events:					none;
/* 2020/10/09 テキストエリアに画像パスが入力されてしまう対応*/
}

#answer_area{
	width:							3vh;
	height:							100%;
	position:						absolute;
	right:							0;
	z-index:						100;
	background-color:				#808080;
	border-radius:					8px 0px 0px 8px;
}

.rw_answer_panle{
	width:							37.5vh;
	height:							88vh;
	float:							right;
	overflow-y:						auto;
	-ms-overflow-style:				scrollbar;
}

.answer_list_area{
	margin:							0  0.4vh 0.4vh 0.4vh;
	padding:						0.4vh;
	background:						#CBD1C4;
	border-radius:					4px;
}

.answer_lst_question{
	text-align:						center;
	font-size:						1.5vh;
}

.answer_button_list{
	text-align:						center;
	z-index:						310;
	width:							4.3vh;
	border-radius:					6px;
	border:							solid 1px #999999;
}

.answer_button_list:hover{
	opacity:						0.7;
}

.answer_list_td{
	font-size:						1.2vh !important;
	padding:						0.3vh;
	cursor:							pointer;
	font-weight:					bold;
}

.answer_list_td:hover{
	background:						#7895B8;
	border-radius:					6px;
}

.answer_button_list_td{
	font-size:						1.2vh !important;
}

.question_img{
	width:							2.6vh;
/* 2020/10/09 テキストエリアに画像パスが入力されてしまう対応*/
	pointer-events:					none;
/* 2020/10/09 テキストエリアに画像パスが入力されてしまう対応*/
}

.check_review{
	transform:						scale(1.4);
}

.button_click{
	background-color:				#808080;
}

.button_click:hover{
	opacity:						1.0 !important;
}

.view_question{
	background-color:				#999999;
}

.answer_writing{
	font-size:						1.6vh !important;
}

.reding_writing_end_area{
	padding-left:					0.3vh !important;
	padding-right:					0.3vh !important;
}

#reding_writing_end{
	width:							100%;
	border:							solid 1px #808080;
	border-radius:					6px;
	font-size:						1.9vh;
	font-weight:					bold;

/* 2020/08/25 Wに気づかず筆記試験を終了してしまう問題対応*/
	background:						#ffff00;
/* 2020/02/12 ライティング終了ボタン背景色変更*/
/*	background:						linear-gradient(#f5f5f5,#999999); */
/* 2020/02/12 ライティング終了ボタン背景色変更*/
	color:							#ff0000;
/* 2020/08/25 Wに気づかず筆記試験を終了してしまう問題対応*/

	cursor:							pointer;
}

/* ライティング終了確認ダイアログ*/

#dialog_writing_end_txt{
	padding:						2vh 1vh;
/* 2020/08/25 Wに気づかず筆記試験を終了してしまう問題対応*/
/*	color:					#E2041B;*/
/* 2020/08/25 Wに気づかず筆記試験を終了してしまう問題対応*/
}

/* 2020/08/25 Wに気づかず筆記試験を終了してしまう問題対応*/
.ans_end{
	color:							#ff0000;
	font-size:						calc(3vh * var(--scale, 1));
	font-weight:					bold;
}

.ans_end_u{
	color:							#ff0000;
	text-decoration:				underline;
	font-weight:					bold;
}

#dialog_writing_end{
	background:				#ffff00;
}
/* 2020/08/25 Wに気づかず筆記試験を終了してしまう問題対応*/

#dialog_writing_end_btn{
/* 2020/08/25 Wに気づかず筆記試験を終了してしまう問題対応*/
/*	position:						absolute;*/
/* 2020/08/25 Wに気づかず筆記試験を終了してしまう問題対応*/
	bottom:							1vh;
	right:							0;
	left:							0;
}

#dialog_writing_end_btn button{
	border-radius:					6px;
	width:							10vh;
	font-weight:					bold;
	border:							solid 1px;
}


#dialog_writing_end_btn button:focus{
	border-color:					deepskyblue;
}

/* 2020/03/17 W解答データが消える問題対策対応*/	
#dialog_writing_alert_txt{
	padding:						2vh 1vh;
	color:							#E2041B;
}

#dialog_writing_alert_btn{
	position:						absolute;
	bottom:							1vh;
	right:							0;
	left:							0;
}

#dialog_writing_alert_btn button{
	border-radius:					6px;
	width:							10vh;
	font-weight:					bold;
	border:							solid 1px;
}


#dialog_writing_alert_btn button:focus{
	border-color:					deepskyblue;
}
/* 2020/03/17 W解答データが消える問題対策対応*/	


/* リスニングコンテンツ*/

.listening_background{
	background:						#ffffff;	
}

.listening_prev{
	right:							3vh;
	margin-top:						1.7vh;
}

.listening_next{
	bottom:							11vh;
	right:							3vh;
}

#memo{
	margin-top:						2vh;
	width:							9vh;
	border-radius:					6px;
	font-weight:					bold;
}

.speaker{
	float:							left;
	width:							3vh;
	margin-right:					1vh;
	margin-left:					0.5vh;
}

#listening_question_area{
	height:							10vh;
	margin:							0 1vh 0 1vh;
	background-color:				#dddddd;
	border-radius:					0px 0px 6px 6px;
}

.listening_question_number_image{
	width:							5.5%;
}

/* リスニング解答欄 */
.listening_box{
	width:							4.5vh;
}

/* 2020/08/26 縦横比が0.75を超える解像度の対応*/

#exam_sound_area{
	color:							#ffffff;
/* 2021/01/18 音量ステータス表示内容変更対応*/
/*	font-size:						calc(2.5vh * var(--scale, 1));*/
	font-size:						calc(2.2vh * var(--scale, 1));
/* 2021/01/18 音量ステータス表示内容変更対応*/
	background:						#575757;
	border-radius:					6px;
	padding:						calc(0.5vh * var(--scale, 1));
	height:							calc(4.5vh * var(--scale, 1));
	/* width:							calc(31vh * var(--scale, 1)); */
	width:							calc(32vh * var(--scale, 1));
	margin-top:						calc(1.5vh * var(--scale, 1));
	margin-left:					calc(1.5vh * var(--scale, 1));
}
/*
#exam_sound_area{
	color:							#ffffff;
	font-size:						2.5vh;
	background:						#575757;
	border-radius:					6px;
	padding:						0.5vh;
	height:							4.5vh;
	width:							31vh;
	margin-top:						1.5vh;
	margin-left:					1.5vh;
}
*/

/* 2020/08/26 縦横比が0.75を超える解像度の対応*/


.current_question{
	margin-bottom:					1vh;
}

.listening_q_img{
	width:							3.2vh;
}

/* 2020/08/26 縦横比が0.75を超える解像度の対応*/

#current_question{
	cursor:							pointer;
	height:							calc(6vh * var(--scale, 1));
	width:							calc(32vh * var(--scale, 1));
	border-radius:					6px;
	font-weight:					bold;
	background:						#fff17a;
}

/*
#current_question{
	cursor:							pointer;
	height:							6vh;
	width:							31vh;
	border-radius:					6px;
	font-weight:					bold;
	background:						#fff17a;
}
*/
/* 2020/08/26 縦横比が0.75を超える解像度の対応*/

#current_question:hover{
	opacity:						0.7;
}

.listeing_answer_list{
	height:							4.5vh;
}

.l_answer_panle{
	padding-left:					1.5vh;
	padding-right:					0.5vh;
}

.listening_answer_row{
	background:						#DBE3D1;
	border-radius:					6px;
	border:							solid 0.2vh #999999;
	margin-bottom:					0.5vh;
}

/* 2020/01/28 リスニング解答欄ボタン位置調整対応*/
.listeing_answer_wrap{
	padding-top:					0.5vh;
}
/* 2020/01/28 リスニング解答欄ボタン位置調整対応*/

/* リスニング解答残り時間プログレスバー */
.timer_wrap{
	display:						inline-block;
}

#timer_progress{
	background:						#eeeeee;
	height:							3.5vh;
	width:							100%;
}

#timer_progress_area{
	width:							60vh;
	float:							left;
	text-align:						center;
	background:						#808080;
	border:							solid 1px #808080;
	position:						relative;
}

#timer{
	position:						absolute;
	z-index:						50;
	font-size:						2.2vh;
	right:							0;
	left:							0;
	margin:							auto;
}

#answer_time{
	float:							left;
	margin-right:					3vh;
	font-size:						2.2vh;
}

.listening_timer_area{
	height:							8vh;
	padding:						2vh;
	border-top:						solid 0.5vh #eeeeee;
	text-align:						center;
}

/* リスニング音量調節バー */
#vol_bar{
	width:							100%;
	height:							6vh;
}


.ui-slider-handle{
	background-size:				contain !important;
	width:							4vh !important;
	height:							4vh !important;
	border:							none !important;
	top:							-1.7vh !important;
	cursor:							pointer !important;;
}

#vol_font{
	font-size:						1.5vh;
	font-weight:					bold;
	padding-right:					1.5vh;
}

.ui-slider-handle:focus{
	outline:						none;
}

.ui-slider-horizontal{
	height:							0.4vh !important;
}

#vol_bar_td .ui-widget-content{
	background:						#dddddd !important;
}

/* 2020/08/26 縦横比が0.75を超える解像度の対応*/
.vol_bar_area{
	width:							calc(31vh * var(--scale, 1));
	left:							calc(1vh * var(--scale, 1));
	text-align:						center;
	padding:						0 calc(0.5vh * var(--scale, 1)) calc(0.5vh * var(--scale, 1)) calc(0.5vh * var(--scale, 1));
	border-radius:					4px 4px 0 0;
	position:						absolute;
	bottom:							0px;
	background:						#f4ae3f;
}
/*
.vol_bar_area{
	width:							31vh;
	left:							1vh;
	text-align:						center;
	padding:						0 0.5vh 0.5vh 0.5vh;
	border-radius:					4px 4px 0 0;
	position:						absolute;
	bottom:							0px;
	background:						#f4ae3f;
}
*/
/* 2020/08/26 縦横比が0.75を超える解像度の対応*/

#volumeMin_img_area{
	width:							3vh;
	height:							3vh;
}

#volumeMax_img_area{
	width:							5vh;
	height:							5vh;
}

.vol_bar_wrap{
	background:						#ffffff;
	margin:							0 !important;
}

#volumeMin_td{
	width:							8% !important;
	vertical-align:					middle;
}

#vol_bar_td{
	width:							80% !important;
	vertical-align:					middle;
/* 2020/02/07 音量調節バー位置調整 */
	padding:						0 2vh;
/* 2020/02/07 音量調節バー位置調整 */

}

#volumeMax_td{
	width:							12% !important;
	vertical-align:					middle;
}

/* リスニングメモダイアログ */
.listening_memo_button_area{
	text-align:						center;
	margin-top:						1.5vh;
}

#text_memo{
	width:							100%;
}

/* リーディング・ライティングコンテンツ領域 */
.rw_contents_area{
	height:							100%;
}

textare{
	font-family:					"ＭＳ Ｐゴシック", arial !important;
}

